.container-gridButton {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.button-component {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  transition: 0.3s ease all;
  margin-bottom: 10px;
  background: linear-gradient(
    to right,
    #757f9a,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-component[type="submit"]:hover {
  background: linear-gradient(to right, #2c3e50, #4568dc);
}

.button-component[type="reset"]:hover {
  background: linear-gradient(to right, #d7d7d7, #2d282d);
}
