.container-form {
  background: #fff;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.container-form form {
  padding: 0 10px 0 10px;
}

.container-form h1 {
  font-weight: 700;
  padding: 5px;
  text-align: center;
}
