.container-accountList {
  display: flex;
  flex-direction: column;
}

.container-accountList > h1 {
  text-align: center;
  padding: 20px 0;
}

.container-accountList-button button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  transition: 0.3s ease all;
  margin-bottom: 10px;
  background: #2c3e50;
}

.container-accountList > .balance-container {
  border: 4px solid #10558d;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-accountList .balance-container p,
strong {
  margin-right: 10px;
  font-size: 20px;
}

.table-accounts {
  border: 4px solid #10558d;
  border-radius: 15px;
  margin: 5px 20px;
  text-align: center;
  font-size: 18px;
}

.table-accounts thead {
  background: #575b64;
  color: white;
}

/* .table-accounts thead tr .th-right {
  border-top-right-radius: 10px;
} */

.table-accounts tbody tr:hover {
  background: #7b808d;
  cursor: pointer;
}

.table-accounts tbody tr td {
  border: none;
  padding: 10px;
}
