.container-expensiveIncome {
  background-color: white;
  width: 50%;
  min-width: 300px;
  border-radius: 1rem;
  padding: 5px;
}

.container-expensiveIncome > .container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4791d0;
  border-radius: 1rem;
}
