.top_navbar {
  background: rgb(11, 98, 148);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.hamburger a:hover {
  color: #a2ecff;
}
