/* -------------------------INPUT------------------------------- */
.container-InputLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.container-InputLabel > .container-body {
  width: 100%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}

.container-InputLabel > .container-body > input[type="date"] {
  width: 46%;
  margin-left: 25px;
  font-size: 16px;
  text-align: center;
}

/* -------------------------TEXTAREA------------------------------- */
.container-textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.container-textarea .container-body {
  width: 100%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.container-textarea .container-body > textarea {
  min-width: 60%;
  max-width: 60%;
  max-height: 30px;
  min-height: 20px;
}

/* -------------------------SELECT------------------------------- */
.select-container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 2px solid white;
  width: 85%;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.select-container > select {
  width: 48%;
  margin-left: 35px;
  font-size: 16px;
}

/* -------------------------PARAGRAPH------------------------------- */
.paragraph-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  margin-left: 5px;
}

strong {
  margin: 0 5px;
}

/* -------------------------DYNAMIC SELECT------------------------------- */

.container-dynamicSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.container-dynamicSelect > .container-body {
  width: 100%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
