/* -------------------------INPUT------------------------------- */
.container-InputLabel {
  position: relative;
  margin: 45px;
}

.container-InputLabel input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--textColor);
}

.container-InputLabel label {
  color: var(--textColor);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus {
  outline: none;
  color: #5e5d5d;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -14px;
  font-size: 14px;
  color: #2196f3;
}

/* -------------------------SIMPLE INPUT----------------------------- */

.container-input .error {
  margin-left: 38px;
}

.container-date {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-date input {
  font-size: 16px;
  text-align: center;
  font-family: "Roboto";
}
.container-amount {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-amount label {
  font-size: 14px;
  color: #2196f3;
  margin-right: 93px;
}

.container-amount input {
  width: 80%;
  text-align: left;
  font-size: 16px;
  font-family: "Roboto";
  padding: 5px 0;
}

/* -------------------------TEXTAREA------------------------------- */

.container-textarea-expenseIncome {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-right: 45px;
}

.container-textarea-expenseIncome label {
  font-size: 14px;
  color: #2196f3;
  width: auto;
}

.container-textarea-expenseIncome textarea {
  resize: none;
}

.container-textarea-transfer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.container-textarea-transfer label {
  font-size: 14px;
  color: #2196f3;
  width: auto;
}

.container-textarea-transfer textarea {
  resize: none;
}

/* -------------------------SELECT------------------------------- */

.container-selectAccount {
  display: flex;
  flex-direction: column;
  width: 73%;
  margin-left: 45px;
  padding-top: 20px;
}

.container-selectAccount label {
  font-size: 14px;
  color: #2196f3;
  padding-bottom: 2px;
}

.container-selectAccount select {
  width: auto;
  font-size: 18px;
  font-family: "Roboto";
  padding: 10px 10px 5px 5px;
  color: var(--textColor);
}

.select-expenseIncome {
  display: flex;
  flex-direction: column;
}

.select-expenseIncome label {
  font-size: 14px;
  color: #2196f3;
  padding-bottom: 2px;
}

.select-expenseIncome select {
  width: 100%;
  font-size: 18px;
  padding: 3px;
  font-family: "Roboto";
}

/* -------------------------DYNAMIC SELECT------------------------------- */

.container-dynamicSelect {
  display: flex;
  flex-direction: column;
}

.container-dynamicSelect label {
  font-size: 14px;
  color: #2196f3;
}

/* -------------------------CHECKBOX---------------------------------------- */

.container-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-checkbox label {
  padding-right: 10px;
}
.container-checkbox input:not(:checked) {
  cursor: pointer;
}
