/* -------------------------INPUT------------------------------- */
.container-InputLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.container-InputLabel > .container-body {
  width: 100%;
  margin-left: 40px;
  display: flex;
  justify-content: space-evenly;
}

.container-InputLabel > .container-body > input[type="date"] {
  width: 50%;
  margin-left: 25px;
  font-size: 16px;
}

/* -------------------------SELECT------------------------------- */
.select-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 2px solid white;
  width: 80%;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.select-container > select {
  width: 50%;
  margin-left: 35px;
  font-size: 16px;
}

/* -------------------------PARAGRAPH------------------------------- */
.paragraph-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  margin-left: 5px;
}

strong {
  margin: 0 5px;
}
