.dashboard-container {
  display: grid;
  grid-template-columns: auto 50px 10% 2fr;
}

.sidebar {
  grid-area: sidebar;
  background: rgb(5, 68, 104);
  grid-column: 1;
  grid-row: 1/5;
  width: 250px;
}

.header {
  grid-area: header;
  grid-column: 2/6;
  grid-row: 1;
  align-self: flex-end;
}

.section {
  grid-area: section;
  grid-column: 2/6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer {
  grid-area: footer;
  grid-column: 2/6;
  grid-row: 4;
}
