* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: block;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
}

.table {
  border: 2px solid #10558d;
  margin: 5px 20px;
  text-align: center;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  border: none;
}
